<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCONN_MSTEST" connectionString="Server=172.16.0.123;Database=XwMaxLibTester;User ID=xwmaxlib;Password=xwpass;" providerName="Data.SqlClient" />
    <add name="DBCONN_MYTEST" connectionString="Server=172.16.0.122;Port=3306;database=XwMaxLibTester;UserID=xwmaxlib;Password=xwpass;" providerName="Data.MySqlClient" />
    <add name="DBCONN_PGTEST" connectionString="Server=172.16.0.121;Port=5432;Database=XwMaxLibTester;UserID=xwmaxlib;Password=xwpass;" providerName="Npgsql" />
    <add name="DBCONN_SQLITE" connectionString="Data Source=c:\data\mydbtest.db3;Version=3;New=true;" providerName="Data.SQLite" />
  </connectionStrings>
  <appSettings>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    
  </runtime>
</configuration>
