<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCONN_MSTEST" connectionString="server=10.0.0.61\iris;user id=sa; password=*******; database=XwMaxLibTester;Application Name=XwMaxLibTester;" providerName="Data.SqlClient" />
    <add name="DBCONN_MYTEST" connectionString="server=10.0.0.93;port=3306;UserID=root; password=********; database=XwMaxLibTester;" providerName="Data.MySqlClient" />
    <add name="DBCONN_MYTEST2" connectionString="server={HOST};port=3306;UserID=root; password=**********; database={DB};" providerName="Data.MySqlClient" />
    <add name="DBCONN_LITETEST" connectionString="Data Source=c:\data\mydbtest.db3;Version=3;New=true;" providerName="Data.SQLite" />
  </connectionStrings>
  <appSettings>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    
  </runtime>
</configuration>
